#news-content-box {
    width: 100%;
    height: 190px;
    box-shadow: 0 1px 4px #222;
    -moz-box-shadow: 0 1px 4px #222;
    -webkit-box-shadow: 0 1px 4px #222;
}

#news-content-box .corner-bg {
    background: url("../blog-corner.png") bottom right no-repeat;
    background-size: 100%;
    width: 170px;
    height: 170px;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 4;
}

#news-content-box .aui-carousel-item {
    background: #DDD;
    background: linear-gradient(to bottom, #EEE 0%, #888 100%);
    background: -moz-linear-gradient(top, #EEE 0%, #888 100%);
    background: -webkit-linear-gradient(top, #DDD 0%, #888 100%);
    background: -o-linear-gradient(top, #EEE 0%, #888 100%);
    background: -ms-linear-gradient(top, #EEE 0%, #888 100%);
    width: 100%;
    height: 190px;
}

#news-content-box menu {
    z-index: 5;
}

#news-content-box .aui-carousel-item .news {
    padding: 20px 20px 10px;
    width: 70%;
    color: #222;
    font-size: 16px;
    font-weight: 300;
}

#news-content-box .aui-carousel-item .newsDate {
    padding: 0 20px 20px;
    width: 70%;
    color: #222;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}

#news-content-box .aui-carousel-item .news a {
    color: #222;
}